<div class="row">
    <div class="col-xs-12">
        <img [src] = "recipe.imagePath" alt="recipe.name" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group dropdown">
            <button 
            type = "button"
            class="btn btn-primary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class = "dropdown-item"
                       style="cursor: pointer;"(click) = "onAddIngredientsToShopList()">Add Ingredients to Shopping List</a></li>
                <li><a style="cursor: pointer;" class = "dropdown-item" (click)="onEditRecipe()">Edit Recipe</a></li>
                <li><a style="cursor: pointer;" class = "dropdown-item">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- get info from recipe model -->
<div class="row">
    <div class="col-xs-12">
        <strong>Description: </strong>{{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor = 'let ingredient of recipe.ingredients'>
                <strong>{{ ingredient.amount }} </strong>  <em>{{ ingredient.name }}</em>
            </li>
        </ul>
    </div>
</div>


<!-- 
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a href="#" class = "dropdown-item">Add Ingredients to Shopping List</a></li>
    <li><a href="#" class = "dropdown-item">Edit Recipe</a></li>
    <li><a href="#" class = "dropdown-item">Delete Recipe</a></li>
</ul> -->