<div class="row">
    <div class="col-xs-12">
        <img [src] = "recipe.imagePath" alt="recipe.name" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group dropdown">
            <button 
            type = "button"
            class="btn btn-primary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a href="#" class = "dropdown-item">Add Ingredients to Shoppint List</a></li>
                <li><a href="#" class = "dropdown-item">Edit Recipe</a></li>
                <li><a href="#" class = "dropdown-item">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- get info from recipe model -->
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>

<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a href="#" class = "dropdown-item">Add Ingredients to Shoppint List</a></li>
    <li><a href="#" class = "dropdown-item">Edit Recipe</a></li>
    <li><a href="#" class = "dropdown-item">Delete Recipe</a></li>
</ul>